<% if logged_in?(:site_admin) %>
  <nav aria-label="breadcrumb", class="blogcrumb">
    <%= link_to fa_icon('file-text'), toggle_status_blog_path(blog), style: blog_status_color(blog) %>
    <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog) %>
    <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Delete, for real?' } %>
  </nav>
<% end %>