<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>
    
    <div class="row">
      <div class="col-md-9">
        <p>I've always loved a good challenge -- it's a big part of who I am. My career pursuits have led me through a variety of challenging industries, from piloting and air traffic control, to economic theory and software development. Throughout my journey, I've observed a single truth that applies to every industry I've been involved in: a customer-first mindset is the key to both successful relationships and business. It's especially common for developers to communicate poorly to their clients throughout a project's implementation.</p>
    
        <p>As I continue my developer journey, I've taken up a new challenge: to put client before code; to see the problems through their eyes first. A developer is put into a position of power that can so easily be abused. My mission is to bridge the gap between client and coder, to incorporate real collaboration and inclusion in the creation process, and help reshape the layman's idea of who developers are.</p>
<!--
        <p>
          <button 
            class="btn btn-secondary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >Work History</button>

          <button 
            class="btn btn-secondary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >Education</button>

          <button 
            class="btn btn-secondary"
            type="button"
            data-toggle="collapse"
            data-target="#languages"
            aria-expanded="false"
            aria-controls="languages"
          >Languages</button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job1
            </div>
            <div class="card card-block">
              Jobs
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              1
            </div>
            <div class="card card-block">
              2
            </div>
            <div class="card card-block">
              3
            </div>
          </div>

          <div class="collapse" id="languages">
            <div class="card card-block">
              1
            </div>
            <div class="card card-block">
              2
            </div>
            <div class="card card-block">
              3
            </div>
            <div class="card card-block">
              4
            </div>
          </div>
        </p>
-->
      </div>
    
      <div class="col-md-3 profile-image">
        <%= image_tag "profile.jpg", alt: "Profile Image" %>
      </div>
    
    </div>
  </div>
</div>

