<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Hi, my name is Ryan. Solving problems through software development is my mission. Challenging myself in the process is what I live for.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>