<% content_for :head do %>
  <%= stylesheet_link_tag 'template' %>
<% end %>

<div id="heading">
    <div id="content">
        <h1>Ryan, your future car is ready.</h1>
        <h3>Don't keep her waiting</h3>
        
        <div id="button">
            <a href="#">Check out our weekly specials!</a>
        </div>        
    </div>
</div>
<div id="footer">
    <div id="footer-text">
        &reg; Tesla Motor Company 2018<br>
    </div>
</div>